<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../style.css" rel="stylesheet">
  <title>Mohamed's File Hoster</title>
</head>

<body>
  <div class="page-wrapper">
    <%-include('partials/nav')%>
    <div class="content">
      <div class="content-header">
      </div>
      <div class="form-container">
        <h1>Update Profile:</h1>
        <form action="/edit-profile" method="POST">
          <p><strong>Username: </strong><%=user.username%></p>
          <label for="firstname">First Name: </label>
          <input type="text" value="<%=user.profile.firstName%>" name="firstname">
          <label for="lastname">Last Name: </label>
          <input type="text" value="<%=user.profile.lastName%>" name="lastname">
          <label for="email">Email: </label>
          <input type="email" value="<%=user.email%>" name="email">
          <label for="age">Age: </label>
          <input type="number" value="<%=user.profile.age%>" name="age">
          <label for="bio">Bio: </label>
          <textarea name="bio"><%=user.profile.bio%></textarea>
          <button class="green-btn" type="submit">Update</button>
        </form>
      </div>
      <%- include("partials/errors") %>
    </div>
    <div class="footer">
      <footer>Some footer text like Mohamed 2025</footer>
    </div>
  </div>
</body>

</html>