<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../style.css" rel="stylesheet">
  <title>Mohamed's File Hoster</title>
</head>

<body>
  <div class="page-wrapper">
    <%-include('partials/nav')%>
    <div class="content">
      <div class="content-header">
      </div>
      <div class="form-container">
        <h1>Update folder:</h1>
        <form action="/edit-folder" method="POST">
          <input hidden name="folder_id" value="<%=currentFolder.id%>">
          <label for="folder_name">Folder name: </label>
          <input type="text" name="folder_name" value="<%=currentFolder.name%>">
          <label for="parent">Parent </label>
          <select name="parent_folder">
            <% user.folders.forEach((folder) => { %>
            <option value="<%=folder.id%>"><%=folder.name%></option>
            <%})%>
          </select>
          <br>
          <button class="green-btn" type="submit">Update</button>
        </form>
        <form action="/delete-folder" method="POST">
          <input hidden name="folder_id" value="<%=currentFolder.id%>">
          <button class="red-btn" type="submit">Delete folder</button>
        </form>
      </div>
      <%- include("partials/errors") %>
    </div>
    <div class="footer">
      <footer>Some footer text like Mohamed 2025</footer>
    </div>
  </div>
</body>

</html>