<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style.css" rel="stylesheet">
  <title>Mohamed's File Hoster</title>
</head>

<body>
  <div class="page-wrapper">
    <%-include('partials/nav')%>
    <div class="content">
      <div class="content-header">
        <h1>Welcome to the file uploader</h1>
      </div>
      <ul class="profile">
        <li>
          <strong>Name: </strong><%=user.profile.firstName%> <%= user.profile.lastName%>
        </li>
        <li>
          <strong>Email: </strong><%=user.email%>
        </li>
        <li>
          <strong>Age: </strong><%=user.profile.age%>
        </li>
        <li>
          <strong>Role: </strong><%=user.role%>
        </li>
        <li>
          <strong>Bio: </strong><%=user.profile.bio%>
        </li>
        <li>
          <strong>Total Files Uploaded: </strong><%=user._count.uploadedFiles%>
        </li>
      </ul>
    </div>
    <div class="profile-container">
      <div class="footer">
        <footer>Some footer text like Mohamed 2025</footer>
      </div>
    </div>
</body>

</html>